<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container">
  <pre><code><%=JSON.stringify({req: req})%></code></pre>
</div>

</body>
</html>
